.Login{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;   
    align-items: center;
    justify-content: center;

    background-image: url("https://planejados.sopha.com.br/images/bg.png");
}
.Login img{
    width:100px;
    height:100px;
    margin-left:25%;
    margin-bottom: 1rem;

}
.painel{
    padding: 5rem;
    background-color: var(--cinza);
    border-radius: 5px;
}

.loginInputEmail input, .loginInputPassword input{
    width: 225px;
    height: 38px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    background-color: var(--branco);
    border-style:none;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    
    
}
.loginInputEmail input::placeholder, .loginInputPassword input::placeholder{
    color: var(--rosa-roxo);
    opacity: 60%;
    
}

main div form input[type="submit"]{
    width: 200px;
    height: 38px;
    margin: 0.5rem 0 1rem 10%;

    background-color: var(--rosa-roxo);
    color: var(--branco);
    font-size: 1.1rem;
    font-weight: bold;
    
    cursor: pointer;
    border: none;
    border-radius: 4px;

    transition: all .3s ease-in-out;
}

main div form input[type="submit"]:hover{
    color: var(--rosa-roxo);
    background-color: white;
}
.loginEsqueciSenha a{
    color: var(--rosa-roxo);
    margin-left: 3rem;
}
.rodapeDireitos p{
    margin-top: 1rem;
    color: var(--branco);
}

@media screen and (max-width:450px) {
    .painel{
        padding: 2rem;

    }
    
}