*{
/*Variáveis de cores*/
  --cinza:#C4C4C4;
  --rosa-roxo:#C00046;
  --branco:#FFFFFF;
  --roxo:#6756B2;
  --amarelo: #FFE600;
  --preto:rgb(0, 0, 0);
/*-----------------------*/

  margin: 0;
}
body {
  background-image:url("https://images4.alphacoders.com/602/thumb-1920-602239.jpg");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans','Roboto Slab','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



